{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
  
    <form action="{% url 'post-edit' %}" method="POST">
        {% csrf_token %}
        {% if form %}
        {{  form.as_p  }}
        {% endif %}
        <button type="submit">SAVE</button>
    </form> 

</body>
</html>


